/*Master Styles*/
body {
  background-color: rgb(247, 236, 236);
}

/*.container {
  display: grid;
  grid-template-columns: 1fr;
}
/*Navigation Styles*/
form.search input[type=text] {
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid grey;
  float: left;
  width: 400px;
  background: #f1f1f1;
}

form.search button {
  float: left;
  width: 5%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  margin-right: 20px;
}

form.search button:hover {
  background: #0b7dda;
}

form.search::after {
  content: "";
  clear: both;
  display: table;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(167, 83, 247);
  height:60px;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  font-size: 40px;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
#Idaccount{
  text-decoration: none;
  margin-right: 10px;
  color:yellow;
}
#Idlogin{
  text-decoration: none;
  color:yellow;
}

span {
  display: inline-block;
  color:yellow;
}



/*Stool Wrapper Styles*/
.hpS-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.hpS-wrapper img {
  width: 100%;
}

.hpS-wrapper {
  padding: 30px;
}

/*Rack Wrapper Styles*/
.hpR-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.hpR-wrapper img {
  width: 100%;
}

.hpR-wrapper {
  padding: 30px;
}

/*Bucket Wrapper Styles*/
.hpB-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.hpB-wrapper img {
  width: 100%;
}

.hpB-wrapper {
  padding: 30px;
}

/*Soap_Case Mugs Wrapper Styles*/
.hpSM-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.hpSM-wrapper img {
  width: 100%;
}

.hpSM-wrapper {
  padding: 30px;
}

/*Jugs_Basins Wrapper Styles*/
.hpJB-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.hpJB-wrapper img {
  width: 100%;
}

.hpJB-wrapper {
  padding: 30px;
}

/*Coffee Wrapper Styles*/
.hpCC-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.hpCC-wrapper img {
  width: 100%;
}

.hpCC-wrapper {
  padding: 30px;
}
.cH1_01_02_03 {
  background-color: rgb(117, 113, 113);
  padding: 12px;

  margin-bottom: 40px;
  margin-right: 10px;
  width: 300px;
  height: 300px;
}
#idH1_01_02_03 {
  width: 100%;
  height: 100%;
}

.cH1_04 {
  background-color: rgb(117, 113, 113);
  padding: 12px;

  margin-bottom: 40px;
  margin-right: 10px;
  width: 300px;
  height: 300px;
}
#idtxtH1_04{
  text-decoration-line: underline;
}
#idH1_04 {
  width: 100%;
  height: 100%;
}

.cH1_05 {
  background-color: rgb(117, 113, 113);
  padding: 12px;

  margin-bottom: 40px;
  margin-right: 10px;
  width: 300px;
  height: 300px;
}
#idtxtH_01_02_03{
  text-decoration-line: underline;
}
#idH1_05 {
  width: 100%;
  height: 100%;
}
#idtxtH1_05{
  text-decoration-line: underline;
}

.cH1_06_07 {
  background-color: rgb(117, 113, 113);
  padding: 12px;

  margin-bottom: 40px;
  margin-right: 10px;
  width: 300px;
  height: 300px;
}
#idH1_06_07 {
  width: 100%;
  height: 100%;
}
#idtxtH1_06_07{
  text-decoration-line: underline;
}

.cH10_01 {
  background-color: rgb(117, 113, 113);
  padding: 12px;

  margin-bottom: 40px;
  margin-right: 10px;
  width: 300px;
  height: 300px;
}
#idH10_01 {
  width: 100%;
  height: 100%;
}

.cH2_01 {
  background-color: rgb(117, 113, 113);
  padding: 12px;

  margin-bottom: 40px;
  margin-right: 10px;
  width: 300px;
  height: 300px;
}
#idH2_01 {
  width: 100%;
  height: 100%;
}

.cH2_02 {
  background-color: rgb(117, 113, 113);
  padding: 12px;

  margin-bottom: 40px;
  margin-right: 10px;
  width: 300px;
  height: 300px;
}
#idH2_02 {
  width: 100%;
  height: 100%;
}

.cH2_04 {
  background-color: rgb(117, 113, 113);
  padding: 12px;

  margin-bottom: 40px;
  margin-right: 10px;
  width: 300px;
  height: 300px;
}
#idH2_04 {
  width: 100%;
  height: 100%;
}

.cH2_05 {
  background-color: rgb(117, 113, 113);
  padding: 12px;

  margin-bottom: 40px;
  margin-right: 10px;
  width: 300px;
  height: 300px;
}
#idH2_05 {
  width: 100%;
  height: 100%;
}

.cH36_01 {
  background-color: rgb(117, 113, 113);
  padding: 12px;

  margin-bottom: 40px;
  margin-right: 10px;
  width: 300px;
  height: 300px;
}
#idH36_01 {
  width: 100%;
  height: 100%;
}

.cH3_01_06 {
  background-color: rgb(117, 113, 113);
  padding: 12px;

  margin-bottom: 40px;
  margin-right: 10px;
  width: 300px;
  height: 300px;
}
#idH3_01_06 {
  width: 100%;
  height: 100%;
}

.cH3_07_08 {
  background-color: rgb(117, 113, 113);
  padding: 12px;

  margin-bottom: 40px;
  margin-right: 10px;
  width: 300px;
  height: 300px;
}
#idH3_07_08 {
  width: 100%;
  height: 100%;
}

.cH3_09_10_11 {
  background-color: rgb(117, 113, 113);
  padding: 12px;

  margin-bottom: 40px;
  margin-right: 10px;
  width: 300px;
  height: 300px;
}
#idH3_09_10_11 {
  width: 100%;
  height: 100%;
}

.cH33_01 {
  background-color: rgb(117, 113, 113);
  padding: 12px;

  margin-bottom: 40px;
  margin-right: 10px;
  width: 300px;
  height: 300px;
}
#idH33_01 {
  width: 100%;
  height: 100%;
}
.cH33_02 {
  background-color: rgb(117, 113, 113);
  padding: 12px;

  margin-bottom: 40px;
  margin-right: 10px;
  width: 300px;
  height: 300px;
}
#idH33_02 {
  width: 100%;
  height: 100%;
}
.cH51_01 {
  background-color: rgb(117, 113, 113);
  padding: 12px;

  margin-bottom: 40px;
  margin-right: 10px;
  width: 300px;
  height: 300px;
}
#idH51_01 {
  width: 100%;
  height: 100%;
}
.cH9_01 {
  background-color: rgb(117, 113, 113);
  padding: 12px;

  margin-bottom: 40px;
  margin-right: 10px;
  width: 300px;
  height: 300px;
}
#idH9_01 {
  width: 100%;
  height: 100%;
}
.cH9_02 {
  background-color: rgb(117, 113, 113);
  padding: 12px;

  margin-bottom: 40px;
  margin-right: 10px;
  width: 300px;
  height: 300px;
}
#idH9_02 {
  width: 100%;
  height: 100%;
}
.cH9_03 {
  background-color: rgb(117, 113, 113);
  padding: 12px;

  margin-bottom: 40px;
  margin-right: 10px;
  width: 300px;
  height: 300px;
}
#idH9_03 {
  width: 100%;
  height: 100%;
}
.cH9_04 {
  background-color: rgb(117, 113, 113);
  padding: 12px;

  margin-bottom: 40px;
  margin-right: 10px;
  width: 300px;
  height: 300px;
}
#idH9_04 {
  width: 100%;
  height: 100%;
}
.cH9_05_06 {
  background-color: rgb(117, 113, 113);
  padding: 12px;

  margin-bottom: 40px;
  margin-right: 10px;
  width: 300px;
  height: 300px;
}
#idH9_05_06 {
  width: 100%;
  height: 100%;
}
